/*  ==========================================================================
    ==========================================================================

    Variables
    1. Typography
    2. Colours
    3. Breakpoints

    CSS FORMATTING
    1. Positioning
    2. Display & Box Model
    3. Text
    4. Other

    ==========================================================================
    ========================================================================== */

/*  ========================================================================== 
	1. Typography
    ========================================================================== */
	
/*  Fallback Stack
	========================================================================== */

	$fallback-stack: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;

/*  Line Heights
	========================================================================== */

	$base-line-height: 1.5; 

/*  Other Sizes
	========================================================================== */
	
	$base-spacing: $base-line-height * 1rem;

/*  ==========================================================================
	2. Colours 
	========================================================================== */
	
	$grey: #e1e3e4;
	$dark-grey: #343434;
	$blue: #0853a8;
	$orange: #f1510f;
	
/*  ==========================================================================
	3. Breakpoints 
	========================================================================== */

/*  Desktop
	========================================================================== */

/*  Mobile / Tablet
	========================================================================== */

	$break-568: max-width 568px;
	$break-400: max-width 400px;
	$break-370: max-width 370px;






