/*  ==========================================================================
    ==========================================================================

    Typography
    1. Font Definitions
    2. General Fonts

    CSS FORMATTING
    1. Positioning
    2. Display & Box Model
    3. Text
    4. Other

    ==========================================================================
    ========================================================================== */

/*  ========================================================================== 
    1. Font Definitions
    ========================================================================== */
    
    %base-font {
        font-family: 'Montserrat', $fallback-stack;
        font-style: normal;
    }    
    
/*  Montserrat Regular
    ========================================================================== */

    .sans-regular {
        @extend %base-font;
        font-weight: 400;
    }

/*  Montserrat Bold
    ========================================================================== */

    .sans-bold {
        @extend %base-font;
        font-weight: 700;
    }

/*  ==========================================================================
    2. General Fonts 
    ========================================================================== */

/*  HTML & BODY
    ========================================================================== */

    html {
        font-size: 14px;
    }

    body {
        -webkit-font-smoothing: antialiased;
        color: $dark-grey;
        @extend .sans-regular;
        font-size: 14px;
        line-height: 1.5; 
    }
 
/*  Body Copy, Anchors, Quotes etc
    ========================================================================== */

    p {
        margin: 0 0 ($base-spacing / 2);
    }

    a {
        color: $blue;
        text-decoration: underline;

        &:hover {
            text-decoration: none;
        }

        &:active, &:focus {
            outline: none;
        }
    }


