/*  ==========================================================================
    ==========================================================================

    Typography
    1. Font Definitions
    2. General Fonts

    CSS FORMATTING
    1. Positioning
    2. Display & Box Model
    3. Text
    4. Other

    ==========================================================================
    ========================================================================== */

/*  ========================================================================== 
    1. Font Definitions
    ========================================================================== */
    
    %base-font {
        font-family: 'Montserrat', $fallback-stack;
        font-style: normal;
    }    
    
/*  Montserrat Regular
    ========================================================================== */

    .sans-regular {
        @extend %base-font;
        font-weight: 400;
    }

/*  Montserrat Bold
    ========================================================================== */

    .sans-bold {
        @extend %base-font;
        font-weight: 700;
    }

/*  ==========================================================================
    2. General Fonts 
    ========================================================================== */

/*  HTML & BODY
    ========================================================================== */

    html {
        font-size: $base-font-size;
    }

    body {
        @include font-feature-settings("kern","liga","frac", "pnum");
        -webkit-font-smoothing: antialiased;
        background-color: $base-background-color;
        color: $base-font-color;
        @extend .sans-regular;
        @include font-size($body-font-size);
        line-height: $base-line-height; 
    }

/*  Titles
    ========================================================================== */

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        //font-family: $header-font-family;
        line-height: $header-line-height;
       //margin: 0;
    }
        
    h1 {
        @include font-size($h1-font-size);
    }

    h2 {
        @include font-size($h2-font-size);
    }

    h3 {
        @include font-size($h3-font-size);
    }

    h4 {
        @include font-size($h4-font-size);
    }

    h5 {
        @include font-size($h5-font-size);
    }

    h6 {
        @include font-size($h6-font-size);
    }

    
/*  Body Copy, Anchors, Quotes etc
    ========================================================================== */

    p {
        margin: 0 0 ($base-spacing / 2);
    }

    a {
        color: $blue;
        text-decoration: underline;

        &:hover {
            // color: $hover-link-color;
            text-decoration: none;
        }

        &:active, &:focus {
            color: $hover-link-color;
            outline: none;
        }
    }

    hr {
        display: block;
        height: 1px;
        border: 0;
        border-top: 1px solid $base-border;
        margin: $base-spacing 0;
        padding: 0;
    }

    blockquote {
        border-left: 2px solid $base-border-color;
        color: lighten($base-font-color, 15);
        margin: $base-spacing 0;
        padding-left: $base-spacing / 2;
    }

    cite {
        color: lighten($base-font-color, 25);
        font-style: italic;

        &:before {
        content: "\2014 \00A0";
        }
    }

    strong,
    p.bold {
        @extend .sans-bold;
    }
