/*  ==========================================================================
    ==========================================================================

    Icons
    1. Contact Icons: 

    CSS FORMATTING
    1. Positioning
    2. Display & Box Model
    3. Text
    4. Other

    ==========================================================================
    ========================================================================== */

/*  ========================================================================== 
	1. Contact Icons
    ========================================================================== */
    
    %icon-contact {
        position: absolute;
        left: 0px;
        right: 0px;
        margin: 0px auto;
        fill: $navy;
        @include transition(all 0.2s ease-in-out);
    }
    
/*  Icon Standard
    ========================================================================== */

    .icon-contact-std {
        @extend %icon-contact;
        width: 60px;
        height: 60px;
    }
    
/*  Icon Twitter
    ========================================================================== */

    .icon-twitter {
        top: 12px;
        @extend %icon-contact;
        width: 35px;
        height: 35px;
        fill: white;
    }

