/*  ==========================================================================
    ==========================================================================

    Home
    - General
    - Header
    - Icons

    ==========================================================================
    ========================================================================== */

/*  ========================================================================== 
	- General
    ========================================================================== */
    
    html {
        box-sizing: border-box;
    }

    *, *:before, *:after {
        box-sizing: inherit;
    }

    body {
        background-color: #18161c;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%239C92AC' fill-opacity='0.4' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
    }

    html, body {
        height: 100%;
    }

/*  ==========================================================================
    - Header
    ========================================================================== */
    
    .header {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 0 5%;
        text-align: center;

        p {
            margin-bottom: 25px;
        }
    }

    .inner {
        max-width: 680px;
    }
    
/*  Header Title
    ========================================================================== */

    .header__title {
        margin: 0px 0px 30px;
        font-size: 42px;
        line-height: 1;
        color: $blue;
    }
    
/*  Header postion
    ========================================================================== */

    .header__position {
        @extend .sans-regular;
        margin-top: 5px;
        position: relative;
        display: block;
        font-size: 32px;
        color: $dark-grey;
    }
    
